@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.min.css';

html {
  background-color: #f4f5f7;
}

.required:after {
  content: ' *';
  color: red;
}

.Toastify__toast-container {
  @apply min-w-max-content;
}

.Toastify__toast {
  @apply rounded;
}

.Toastify__toast--error {
  @apply bg-red-100 text-red-500 border border-red-900;
}

.Toastify__close-button--error {
  @apply text-red-500;
}

.Toastify__toast--info {
  @apply bg-blue-100 text-blue-500 border border-blue-900;
}

.Toastify__close-button--info {
  @apply text-blue-500;
}

.Toastify__toast--success {
  @apply bg-teal-100 text-teal-500 border border-teal-900;
}

.Toastify__close-button--success {
  @apply text-teal-500;
}
